/*=========================================================================================
    File Name: _misc.scss
    Description: partial- misc styles
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


code {
  font-family: $font-family-sans-serif;
  background: #eee;
  padding: 0.1rem .3rem;
  border-radius: 3px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.layout--full-page {
  .bg-img {
    background-image: url("../assets/images/pages/vuexy-login-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .full-page-bg-color {
    background-color: #eff2f7;
  }
}

.login-wrapper {
  background: url("../assets/images/pages/login/userloginboard.svg");
  background-size: 100% 100% !important;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-size: 100% auto; /* Fill width, retain proportions */
  // margin-top: 20px;
  // padding: 50px;
  // text-align: center;
  // height: 100vh;
  // width: 691px;
  // height: 700px;
}

.layout--full-page-one {
  background-image: url("../assets/images/pages/bg01.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @media(max-width:639px) {
  }
  /* Small (sm) */
  @media (min-width: 640px) { 
  }
  /* Medium (md) */
  @media (min-width: 768px) {
  }
  /* Large (lg) */
  @media (min-width: 1024px) {
  }
  /* Extra Large (xl) */
  @media (min-width: 1280px) { 
  }    
  /* Extra Large (xl) */
  @media (min-width: 1680px) { 
    height: 100vh;
  }
  /* Extra Large (xl) */
  @media (min-width: 1920px) { 
  }
  .full-page-bg-color {
    background-color: #eff2f7;
  }

  #logo {

  }
}

.layout--full-page-three {
  background-image: url("../assets/images/pages/main/bg_onboardingpage.jpeg");
  // background-position: ;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  @media(max-width:639px) {
  }
  /* Small (sm) */
  @media (min-width: 640px) { 
  }
  /* Medium (md) */
  @media (min-width: 768px) {
  }
  /* Large (lg) */
  @media (min-width: 1024px) {
  }
  /* Extra Large (xl) */
  @media (min-width: 1280px) { 
  }    
  /* Extra Large (xl) */
  @media (min-width: 1680px) { 
    height: 100vh;
  }
  /* Extra Large (xl) */
  @media (min-width: 1920px) { 
  }
  .full-page-bg-color {
    background-color: #eff2f7;
  }

  #logo {

  }
}

.single-counter {
  display: inline-block;
  position: relative;
  width: 105px;
  padding: 18px 10px 10px;

  span {
    display: block;
    text-align: center;
  }

  .timer {
    font-size: 3rem;
  }
}

.chat-card-log {
  height: 240px;
}


// ======================================================================================
// Video.js
// ======================================================================================
.vjs-poster {
  background-size: cover !important;
  width: 100% !important;
}


// ======================================================================================
// Spinner
// ======================================================================================

// .spinner {
//   animation: spin 1.5s linear infinite;
// }

/*! rtl:begin:ignore */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*! rtl:end:ignore */


// ======================================================================================
// Feather - Font Icon
// ======================================================================================

i.feather {
  font-weight: 100;
}

.feather.feather-menu {
  z-index: 9;
}

// ======================================================================================
// Perfect Scrollbar
// ======================================================================================

.scroll-area {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}
